/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    padding: 0;
    font-family: "Noto Sans Display";
}

nav {
    background-color: #540B51;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: calc(5rem + 15vw);
}

nav button {
    background: inherit;
    border: none;
}

#search-button {
    margin-right: 1rem;
}

#main-menu {
    display: none;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    background-color: #540B51;
    color: white;
    padding: 0 1rem;
    max-height: 170vw;
    overflow: hidden;
}

header h1 {
    font-size: 2.4em;
}

#sign-up-section > * {
    margin: 1rem 0;
}

header em {
    font-style: normal;
    color: #ECB12F;
    font-weight: 600;
}

header .screenshot img {
    max-width: 155%;
}

.big-up-btn-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.big-btn {
    font-size: 0.8rem;
    border: none;
    height: 4em;
    margin: 0.5rem 0;
    border-radius: 0.3rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    width: 25rem;
}

.big-btn.with-email {
    position: relative;
    background-color: white;
    color: #540B51;
}

.big-btn.with-google {
    position: relative;
    background-color: #4285F4;
    color: white;
}

.big-btn.with-google .google-logo {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    height: calc(100% - 1em);
    background-color: white;
    border-radius: 0.1em;
    padding: 0.5em 0.6em;
}

main {
    background-color: #F3EAE2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

main h2,
main h3 {
    font-size: 1.9rem;
}

main #references {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 2em;
}

main #references p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    margin: 1em 0;
}

main #references .logo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

main #references img {
    height: 2rem;
    width: auto;
    margin: 1em 0;
}

main #references .logo-container .bigger {
    height: 3rem;
}

main #references .logo-container .smaller {
    height: 1.5rem;
}

main .selling-point {
    display: flex;
    flex-flow: row wrap;
}

main .selling-point .image-container {
    order: 0;
}

main .selling-point .text-container {
    order: 1;
    padding: 1rem;
    font-size: .9rem;
    margin: 1.5rem 0;
}

main .selling-point .text-container p {
    margin: 1rem 0;
}

main .selling-point .text-container a {
    text-decoration: none;
    color: #2E71A6;
    background-image: url("../images/icon-arrow-right.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 25px;
}

main #enterprise {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    text-align: center;
    padding: 3rem 1rem;
}

main #enterprise > * {
    margin: .3rem 0;
}

.btn-purple-on-white {
    border: 1px solid;
    border-color: #540B51;
    background-color: white;
    color: #540B51;
}

.btn-white-on-purple {
    border-color: white;
    background-color: #540B51;
    color: white;
}

main #enterprise .stats li p.huge {
    font-size: 3rem;
    color: #540B51;
}

main #enterprise .stats {
    list-style: none;
    font-weight: 700;
}

main #enterprise .stats li {
    width: 11rem;
    margin: 2rem 0;
}
